fastapi
uvicorn[standard]
sqlalchemy
python-jose[cryptography]
passlib[bcrypt]
bcrypt==3.2.2
python-multipart
pydantic[email]
email-validator
pydantic-settings
aiofiles
reportlab
pillow
pytz
psycopg2-binary
gunicorn
